<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guidetouristique">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/rounded_corner"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rounded_corner_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuideTouristique">

        <!-- Définir explicitement android:exported -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".VilleActivity"
            android:exported="false" /> <!-- ou true si nécessaire -->



    </application>

</manifest>

